// Sub-styles
@use "./feed.scss";
@use "./projects.scss";

@import "../mixins.scss";
@import "../variables.scss";
@import "../animations/animations.scss";

.DefaultView{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, $white-light, $white, $white-dark);

    .DefaultLayout{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .MainSidebar{
            position: fixed;
            background-color: $white;
            z-index: $ceiling;
            display: flex;
            align-items: center;

            /* Responsive */
            @include media("xs"){
                border-bottom: 1px solid $grey-dark;
                flex-direction: row;
                height: $sidebar-xs;
                width: 100%;
            }
            @include media("sm"){
                border-bottom: 1px solid $grey-dark;
                flex-direction: row;
                height: $sidebar-sm;
                width: 100%;
            }
            @include media("md"){
                border-right: 1px solid $grey-dark;
                flex-direction: column;
                width: $sidebar-md;
                height: 100vh;  
            }
            @include media("lg"){
                border-right: 1px solid $grey-dark;
                flex-direction: column;
                width: $sidebar-lg;
                height: 100vh;  
            }
            @include media("xl"){
                border-right: 1px solid $grey-dark;
                flex-direction: column;
                width: $sidebar-xl;
                height: 100vh;  
            }

            >.ToggleDrawerIcon{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
                
                /* Responsive */
                @include media("xs"){
                    width: 20%;
                }
                @include media("sm"){
                    width: 20%;
                }
                @include media("md"){
                    height: 5%;
                }
                @include media("lg"){
                    height: 5%;
                }
                @include media("xl"){
                    height: 5%;
                }

                *{
                    color: $grey-dark;
                }
            }

            >.Title{
                display: flex;
                align-items: center;
                justify-content: center;
                
                /* Responsive */
                @include media("xs"){
                    width: 60%;
                }
                @include media("sm"){
                    width: 60%;
                }
                @include media("md"){
                    height: 90%;
                }
                @include media("lg"){
                    height: 90%;
                }
                @include media("xl"){
                    height: 90%;
                }
                
                *{
                    color: $grey-dark;
                }

                .Content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: max-content;
                    height: max-content;
                    text-wrap: nowrap;
                    white-space: nowrap;
                    
                    /* Responsive */
                    @include media("xs"){
                        transform: rotate(0);
                    }
                    @include media("sm"){
                        transform: rotate(0);
                    }
                    @include media("md"){
                        transform: rotate(270deg);
                    }
                    @include media("lg"){
                        transform: rotate(270deg);
                    }
                    @include media("xl"){
                        transform: rotate(270deg);
                    }

                    h1{
                        font-size: 35px;
                    }
                    h4{
                        font-size: 20px;
                    }
                }
            }
        }
        .MainBody{
            position: relative;
            /* Responsive */
            @include media("xs"){
                min-height: calc(100vh - $sidebar-xs - 1px);
                width: 100%;
                margin-top: calc($sidebar-xs + 1px);
            }
            @include media("sm"){
                min-height: calc(100vh - $sidebar-xs - 1px);
                width: 100%;
                margin-top: calc($sidebar-sm + 1px);
            }
            @include media("md"){
                min-height: 100vh;
                width: calc(100% - $sidebar-md - 1px);
                margin-left: calc($sidebar-md + 1px);
            }
            @include media("lg"){
                min-height: 100vh;
                width: calc(100% - $sidebar-lg - 1px);
                margin-left: calc($sidebar-lg + 1px);
            }
            @include media("xl"){
                min-height: 100vh;
                width: calc(100% - $sidebar-xl - 1px);
                margin-left: calc($sidebar-xl + 1px);
            }
        }

        .MainDrawer{
            position: fixed;
            background: linear-gradient(to bottom , rgba(255,255,255,0.85), rgba(255,255,255,0.9), rgba(255,255,255,0.95), rgba(255,255,255,1));
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.05s ease-in-out;
            z-index: $ceiling;
            /* Responsive */
            @include media("xs"){
            }
            @include media("sm"){
            }
            @include media("md"){
            }
            @include media("lg"){
            }
            @include media("xl"){
            }

            /* Responsive */
            @include media("xs"){
                height: calc(100vh - $sidebar-xs - 1px);
                width: 100%;
                margin-top: calc($sidebar-xs + 1px);
                transform-origin: bottom;
                &.on{
                    transform: scaleY(1);
                }
                &.off{
                    transform: scaleY(0);
                }
            }
            @include media("sm"){
                height: calc(100vh - $sidebar-xs - 1px);
                width: 100%;
                margin-top: calc($sidebar-sm + 1px);
                transform-origin: bottom;
                &.on{
                    transform: scaleY(1);
                }
                &.off{
                    transform: scaleY(0);
                }
            }
            @include media("md"){
                height: 100vh;
                width: calc(100% - $sidebar-md - 1px);
                margin-left: calc($sidebar-md + 1px);
                transform-origin: right;
                &.on{
                    transform: scaleX(1);
                }
                &.off{
                    transform: scaleX(0);
                }
            }
            @include media("lg"){
                height: 100vh;
                width: calc(100% - $sidebar-lg - 1px);
                margin-left: calc($sidebar-lg + 1px);
                transform-origin: right;
                &.on{
                    transform: scaleX(1);
                }
                &.off{
                    transform: scaleX(0);
                }
            }
            @include media("xl"){
                height: 100vh;
                width: calc(100% - $sidebar-xl - 1px);
                margin-left: calc($sidebar-xl + 1px);
                transform-origin: right;
                &.on{
                    transform: scaleX(1);
                }
                &.off{
                    transform: scaleX(0);
                }
            }

            >.Content{
                margin: auto auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                /* Responsive */
                @include media("xs"){
                    height: 80%;
                    width: 100%;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                @include media("sm"){
                    height: 90%;
                    width: 100%;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                @include media("md"){
                    height: 55%;
                    width: 50%;
                    align-items: flex-start;
                }
                @include media("lg"){
                    height: 55%;
                    width: 50%;
                    align-items: flex-start;
                }
                @include media("xl"){
                    height: 55%;
                    width: 50%;
                    align-items: flex-start;
                }
                .DrawerItem{
                    font-weight: 400;
                    font-size: 40px;
                    cursor: pointer;
                    transition: transform 0.45s ease-out;
                    transform-origin: bottom left;
                    @include underline-effect($grey-dark);
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}