@import "../mixins.scss";
@import "../variables.scss";

$sidebar-xl:110px;
$sidebar-lg:115px;
$sidebar-md:115px;
$sidebar-sm:115px;
$sidebar-xs:115px;

.DefaultView{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, $white-light, $white, $white-dark);

    .DefaultLayout{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .MainSidebar{
            height: 100vh;
            border-right: 1px solid $grey-dark;
            position: fixed;
            background-color: $white;
            z-index: $layer1;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* Responsive */
            @include media("xs"){
                width: $sidebar-xs;
            }
            @include media("sm"){
                width: $sidebar-sm;
            }
            @include media("md"){
                width: $sidebar-md;
            }
            @include media("lg"){
                width: $sidebar-lg;
            }
            @include media("xl"){
                width: $sidebar-xl;
            }

            >.ToggleDrawerIcon{
                height: "10%";
                display: "flex";
                flex-direction: "row";
                justify-content: "center";
                align-items: "center";
                margin-top: 5px;

                *{
                    color: $grey-dark;
                }
            }
        }
        .MainBody, .MainDrawer{
            height: 100vh;

            /* Responsive */
            @include media("xs"){
                width: calc(100% - $sidebar-xs - 1px);
                margin-left: calc($sidebar-xs + 1px);
            }
            @include media("sm"){
                width: calc(100% - $sidebar-sm - 1px);
                margin-left: calc($sidebar-sm + 1px);
            }
            @include media("md"){
                width: calc(100% - $sidebar-md - 1px);
                margin-left: calc($sidebar-md + 1px);
            }
            @include media("lg"){
                width: calc(100% - $sidebar-lg - 1px);
                margin-left: calc($sidebar-lg + 1px);
            }
            @include media("xl"){
                width: calc(100% - $sidebar-xl - 1px);
                margin-left: calc($sidebar-xl + 1px);
            }
        }

        .MainDrawer{
            position: absolute;
            background-color: rgba(255,255,255,0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            transform-origin: right;
            transition: transform 0.15s ease-in;

            &.on{
                transform: scaleX(1);
            }
            &.off{
                transform: scaleX(0);
            }

            .Content{
                height: 55%;
                width: 50%;
                margin: auto auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                .DrawerItem{
                    font-weight: 400;
                    font-size: 40px;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    transition: transform 0.45s ease-out;
                    transform-origin: bottom left;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .DrawerItem::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $grey-dark;
                    transform-origin: bottom right;
                    transition: transform 0.45s ease-out;
                }
                .DrawerItem:hover::after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}