@import "../mixins.scss";
@import "../variables.scss";
@import "../animations/animations.scss";

.MainFeed{
    display: flex;
    flex-direction: column;
    >.Presentation{
        /* Responsive */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include media("xs"){
            height: auto;
            flex-direction: column;
        }
        @include media("sm"){
            height: auto;
            flex-direction: column;
        }
        @include media("md"){
            height: auto;
            flex-direction: row;
        }
        @include media("lg"){
            min-height: 100vh;
            flex-direction: row;
        }
        @include media("xl"){
            min-height: 100vh;
            flex-direction: row;
        }
        >.Text{
            display: flex;
            flex-direction: column;
            position: relative;
            height: auto;
            row-gap: 30px;
            justify-content: space-around;
            /* Responsive */
            @include media("xs"){
                width: calc(100% - 30px);
                min-height: calc(100vh - $sidebar-xs - 11px);
                padding: 10px 15px 0 15px
            }
            @include media("sm"){
                width: calc(100% - 30px);
                min-height: calc(100vh - $sidebar-sm - 11px);
                padding: 10px 15px 0 15px
            }
            @include media("md"){
                width: calc(100% - 60px);
                padding: 10px 30px 0 30px;
                min-height: 100vh;
            }
            @include media("lg"){
                width: calc(100% - 60px);
                padding: 10px 30px 0 30px;
                min-height: 100vh;
            }
            @include media("xl"){
                width: calc(100% - 60px);
                padding: 10px 30px 0 30px;
                min-height: 100vh;
            }
            >*{
                z-index: $basing;
            }
            
            >.Email{
                display: flex;
                flex-direction: row;
                margin: 10px 0;
                column-gap: 5px;
                width: min-content;
                height: 5%;
                justify-content: flex-start;

                >.Redirect{
                    cursor: pointer;
                    @include underline-effect($grey-dark);
                }
            }
            >.Body{
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                justify-content: center;
                /* Responsive */
                @include media("xs"){
                    height: 50%;
                }
                @include media("sm"){
                    height: 50%;
                }
                @include media("md"){
                    height: 70%;
                }
                @include media("lg"){
                    height: 60%;
                }
                @include media("xl"){
                    height: 55%;
                }
                h2{
                    /* Responsive */
                    @include media("xs"){
                        font-size: 40px;
                    }
                    @include media("sm"){
                        font-size: 40px;
                    }
                    @include media("md"){
                        font-size: 45px;
                    }
                    @include media("lg"){
                        font-size: 45px;
                    }
                    @include media("xl"){
                        font-size: 45px;
                    }
                }
                p{
                    /* Responsive */
                    @include media("xs"){
                        font-size: 16px;
                        width: 100%;
                    }
                    @include media("sm"){
                        font-size: 16px;
                        width: 100%;
                    }
                    @include media("md"){
                        font-size: 16px;
                        text-align: justify;
                        width: 85%;
                    }
                    @include media("lg"){
                        font-size: 18px;
                        text-align: justify;
                        width: 85%;
                    }
                    @include media("xl"){
                        font-size: 18px;
                        text-align: justify;
                        width: 85%;
                    }
                }
            }
            >.Files{
                display: flex;
                align-items: center;
                justify-content: center;
                /* Responsive */
                @include media("xs"){
                    height: 45%;
                }
                @include media("sm"){
                    height: 45%;
                }
                @include media("md"){
                    height: 25%;
                }
                @include media("lg"){
                    height: 35%;
                }
                @include media("xl"){
                    height: 40%;
                }
                >button{
                    /* Responsive */
                    @include media("xs"){
                        width: 300px;
                        height: 50px;
                        font-size: 18px;
                        *{
                            font-size: 22px;
                        }
                    }
                    @include media("sm"){
                        width: 300px;
                        height: 50px;
                        font-size: 18px;
                        *{
                            font-size: 22px;
                        }
                    }
                    @include media("md"){
                        width: 350px;
                        height: 70px;
                        font-size: 20px;
                        *{
                            font-size: 25px;
                        }
                    }
                    @include media("lg"){
                        width: 350px;
                        height: 70px;
                        font-size: 20px;
                        *{
                            font-size: 25px;
                        }
                    }
                    @include media("xl"){
                        width: 350px;
                        height: 70px;
                        font-size: 20px;
                        *{
                            font-size: 25px;
                        }
                    }
                }
            }
            >.Photo{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: $background;
                >.Background{
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    opacity: 0.25;
                    /* Responsive */
                    @include media("xs"){
                    background-image: url("/assets/images/main_profile.png");
                    }
                    @include media("sm"){
                    background-image: url("/assets/images/main_profile.png");
                    }
                    @include media("md"){
                    background-image: url("/assets/images/main_profile.png");
                    }
                    @include media("lg"){
                        background-image: url("/assets/images/main_profile_extended.png");
                    }
                    @include media("xl"){
                        background-image: url("/assets/images/main_profile_extended.png");
                    }
                }
    
                >.SocialIcons{
                    position: absolute;
                    z-index: $overlay;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                    /* Responsive */
                    @include media("xs"){
                        top: 5px;
                        right: 5px;
                        column-gap: 0;
                        max-width: 30%;
                    }
                    @include media("sm"){
                        top: 10px;
                        right: 10px;
                        column-gap: 5px;
                        max-width: 35%;
                    }
                    @include media("md"){
                        top: 10px;
                        right: 10px;
                        column-gap: 5px;
                        max-width: 35%;
                    }
                    @include media("lg"){
                        top: 15px;
                        right: 15px;
                        column-gap: 10px;
                        max-width: 50%;
                    }
                    @include media("xl"){
                        top: 20px;
                        right: 20px;
                        column-gap: 10px;
                        max-width: 50%;
                    }
    
                    >button{
                        background: rgba(255, 255, 255, 0.05);
                        transition: background linear 0.25s;
                        &:hover{
                            background: rgba(255, 255, 255, 0.25);
                        }
                        *{
                            /* Responsive */
                            @include media("xs"){
                                font-size: 32px;
                            }
                            @include media("sm"){
                                font-size: 40px;
                            }
                            @include media("md"){
                                font-size: 45px;
                            }
                            @include media("lg"){
                                font-size: 50px;
                            }
                            @include media("xl"){
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
    >.Timeline{
        height: 100vh;
        width: 100%;
    }
    >h2{
        font-size: 45px;
        text-align: center;
        margin-top: 30px;
    }
    >.ProjectsCarousel{
        min-height: 225px;
            width: 80%;
        margin: 30px auto 15px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* Responsive */
        @include media("xs"){
            width: 100%;
        }
        @include media("sm"){
            width: 80%;
        }
        @include media("md"){
            width: 70%;
        }
        @include media("lg"){
            width: 80%;
        }
        @include media("xl"){
            width: 95%;
        }
        >.Body{
            position: relative;
            display: flex;
            flex-direction: row;
            column-gap: 35px;
            width: 100%;
        }
    }
    >a{
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        color: #0970e0;
        text-decoration: underline;
    }
}