@import "../mixins.scss";
@import "../variables.scss";
@import "../animations/animations.scss";


.Projects{
    position: relative;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;

    >.Background{
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("/assets/images/github.png");
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0.15;
        z-index: $background;
        /* Responsive */
        @include media("xs"){
            height: calc(100vh - $sidebar-xs - 1px);
            width: 100%;
            margin-top: calc($sidebar-xs + 1px);
            background-size: 50%;
        }
        @include media("sm"){
            height: calc(100vh - $sidebar-xs - 1px);
            width: 100%;
            margin-top: calc($sidebar-sm + 1px);
            background-size: 45%;
        }
        @include media("md"){
            height: 100vh;
            width: calc(100% - $sidebar-md - 1px);
            margin-left: calc($sidebar-md + 1px);
            background-size: 35%;
        }
        @include media("lg"){
            height: 100vh;
            width: calc(100% - $sidebar-lg - 1px);
            margin-left: calc($sidebar-lg + 1px);
            background-size: 35%;
        }
        @include media("xl"){
            min-height: 100vh;
            width: calc(100% - $sidebar-xl - 1px);
            margin-left: calc($sidebar-xl + 1px);
            background-size: 35%;
        }
    }

    >h2{
        margin-top: 20px;
        font-size: 50px;
        height: 10%;
    }

    >p{
        font-size: 16px;
        text-decoration: underline;
        height: 5%;
    }

    >.Body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
        column-gap: 20px;
        max-width: 90%;
        margin: 0 auto 20px;
        margin-bottom: 20px;
        min-height: calc(84vh - 40px);
    }
    >.Expanded{
        z-index: $basing;
        background: #ffffff;
        width: 100%;

        >div{
            width: 90%;
            max-width: 90%;
            margin: 20px auto;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            ul{
                list-style-type: disc;
                list-style-position: inside;
            }
            h1, h2, h3{
                font-family: "Caveat", "cursive", "Georgia";
                border-bottom: 1px grey solid;
                margin-bottom: 10px;
                font-size: 35px;
            }
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 40px;
            }
            h3{
                font-size: 30px;
            }
            pre{
                max-width: 100%;
                overflow-x: auto;
                code{
                    max-width: 100%;
                    line-height: 30px;   
                
                    font-family: "Source Code Pro";
                    background-color: #f6f8fa;
                    padding: 5px;
                    border-radius: 5px;
                    font-weight: 600;
    
                }
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}