@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, -50%);
  }
  40% {
    transform: translate(-50%, -70%);
  }
  60% {
    transform: translate(-50%, -60%);
  }
}

:root {
  --main-green: #0072c6;
  --main-green-light: #d3ecfe;
  --main-green-dark: #035996;
  --main-green-shade2: #0072c626;
  --main-green-shade1: #0072c612;
  --main-green-shade0: #0072c600;
}

.App {
  display: flex;
  min-height: 100dvh;

  .LatBar {
    z-index: 300;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100%;

    background-color: #f4f4f4;

    border-right: solid 1px rgb(0, 0, 0);

    overflow: auto;

    > div {
      position: relative;

      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      text-align: center;
      > h1,
      > h2 {
        position: absolute;

        transform: rotate(-90deg);
        transform-origin: center;
        white-space: nowrap;
      }
      > h1 {
        margin: 0;
        font-size: 24px;
        left: -60px;
      }
      > h2 {
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        left: 0;
      }
    }
  }

  .Main {
    position: relative;
    margin-left: 100px;

    flex: 1;

    overflow-y: auto;

    > .HeroSection {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      height: calc(100dvh - 70px);

      padding: 50px 5% 20px 5%;
      justify-content: space-evenly;

      background: linear-gradient(
        180deg,
        var(--main-green-shade2) 0%,
        var(--main-green-shade1) 50%,
        var(--main-green-shade0) 100%
      );

      > .MailLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        color: black;

        > a {
          margin: 0;
          border-bottom: 1px solid transparent;
          transition: border-bottom 0.25s ease;
          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
      > .Presentation {
        display: flex;
        flex-direction: row-reverse;
        max-height: 60vh;
        align-items: center;
        column-gap: 30px;
        justify-content: space-between;
        > p {
          width: 60%;
          display: flex;
          margin: 0;
          font-size: clamp(1.35rem, 3vw, 1.8rem);
        }
        > .Image {
          max-width: 40%;
          max-height: 100%;
          border-radius: 100%;
          aspect-ratio: 1;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-height: 100%;
            width: auto;
          }
        }
      }
      > .LastSection {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        > .CV {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 40px 30px;
          background-color: var(--main-green);
          color: white;
          font-weight: bold;
          width: max-content;
          margin: 0 auto;
          font-size: clamp(1.35rem, 4vw, 1.85rem);
          border: solid 2px var(--main-green-dark);
          border-radius: 25px;
          cursor: pointer;
          transition: box-shadow 0.2s ease;
          margin-bottom: 20px;

          &:active {
            box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, 0.3);
          }
        }
        > .SocialIcons {
          display: flex;
          flex-direction: row;
          column-gap: 10px;
        }
      }
      > .ref {
        position: absolute;
        top: calc(100dvh + 50px);
      }
    }
    > .TimelineSection {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: 50px;

      > h2 {
        margin: 30px auto;
        width: max-content;
        font-size: 32px;
      }

      > .Timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 50px 0;
        .Joint {
          opacity: inherit;
          border-radius: 10px;
          display: flex;
          position: absolute;

          border-top: solid 4px var(--main-green);
          border-bottom: solid 4px var(--main-green);
          width: 40px;
          transition: width 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .Content {
          position: relative;
          width: calc(80% - 40px);
          height: calc(50% - 40px);
          margin: auto;
          border: solid 1px black;
          border-radius: 2px;
          > .Date {
            width: max-content;
            position: absolute;
            transform: translateY(-50%);
            top: 0;
            background-color: var(--main-green-light);
            border: solid 1px black;
            border-radius: 2px;
            padding: 5px 10px;
          }
          > .Text {
            padding: 20px;
            .Title {
              font-size: 20px;
              text-decoration: bold;
              color: black;
            }
            .Location {
              display: flex;
              flex-direction: row;
              max-height: 14px;
              font-size: 14px;
              margin-top: 8px;
              > svg {
                width: 30px;
              }
            }
            .Description {
              color: rgb(42, 42, 42);
            }
            ul {
              list-style: circle;
            }
          }
          > .Image {
            position: relative;
            /* transform: translateY(95%); */
            bottom: -10px;
            right: 15px;
            background-color: white;
            border: solid 1px black;
            border-radius: 2px;
            padding: 10px;
            width: 60%;
            height: auto;
            > img {
              max-width: 100%;
              aspect-ratio: initial;
            }
          }
        }

        > .Left {
          position: relative;
          display: flex;
          height: auto;
          width: 50%;
          align-self: flex-start;
          transition: opacity ease 1.5s;
          &.fade-in {
            opacity: 1;
          }
          &.fade-out {
            opacity: 0.1;
            > .Joint {
              width: 0;
            }
          }
          > .Joint {
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%);
          }
          > .Content {
            margin-right: 50px;
            .Date {
              right: 15px;
            }
            > .Image {
              right: 10%;
            }
          }
        }

        > .Right {
          &:first-child {
            margin-top: 100dvh;
          }
          position: relative;
          display: flex;
          height: auto;
          width: 50%;
          align-self: flex-end;
          position: relative;
          transition: opacity ease 1.5s;
          &.fade-in {
            opacity: 1;
          }
          &.fade-out {
            opacity: 0.1;
            > .Joint {
              width: 0;
            }
          }
          > .Joint {
            top: 50%;
            right: 100%;
            transform: translate(100%, -50%);
          }
          > .Content {
            margin-left: 50px;
            .Date {
              left: 15px;
            }
            .Image {
              right: -38%;
            }
          }
        }

        .SeparatorBig {
          display: flex;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          border-left: solid 4px var(--main-green);
          border-right: solid 4px var(--main-green);
          height: 100%;
          z-index: 200;
          border-radius: 10px;
        }
        .SeparatorSmall {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;

    .LatBar {
      position: fixed;
      padding: 5px 20px;
      width: calc(100% - 40px);
      height: 60px;
      border-bottom: solid 1px rgb(0, 0, 0);
      border-right: none;

      > div {
        flex-direction: column;
        position: unset;
        > h1,
        > h2 {
          width: auto;
          position: unset;

          transform: none;
          transform-origin: none;
          white-space: unset;
        }
      }
    }

    .Main {
      margin-left: 0;
      margin-top: 70px;

      > .HeroSection {
        height: auto;
        flex-direction: column;

        padding: 30px 50px 0 50px;

        > .Presentation {
          flex-direction: column-reverse;
          max-height: none;
          row-gap: 20px;
          > p {
            width: 90%;
          }
          > .Image {
            max-width: 90%;
            width: 90%;
            img {
              height: auto;
              max-width: 100%;
            }
          }
        }

        .SocialIcons {
          flex-direction: column;
        }
        > .ref {
          position: absolute;
          top: calc(100dvh - 100px);
        }
      }
      > .TimelineSection {
        width: 100%;
        height: auto;
        margin-top: 50px;

        > h2 {
          font-size: 26px;
        }

        > .Timeline {
          height: 100%;
          width: 90%;
          row-gap: 20vh;
          padding: 40px 0;
          margin: 0 auto;
          .Content {
            > .Image {
              position: relative;
              bottom: 0;
              right: 15px;
              left: unset;
              padding: 10px;
              width: 60%;
              height: auto;
              > img {
                max-width: 100%;
                aspect-ratio: initial;
              }
            }
          }

          > .Left,
          > .Right {
            width: 100%;
            > .Joint {
              top: 50%;
              left: 100%;
              transform: translate(-100%, -50%);
            }
            > .Content {
              margin-left: 0;
              margin-right: 0;
              left: 5%;
              width: 80%;
              .Date {
                right: 15px;
                left: unset;
              }
              > .Image {
                right: 15px;
                left: unset;
                bottom: -10px;
              }
            }
          }
          .SeparatorBig {
            display: none;
          }
          .SeparatorSmall {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            transform: none;
            border-left: solid 4px var(--main-green);
            border-right: solid 4px var(--main-green);
            height: 100%;
            z-index: 200;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
