---
import ArrowLeftIcon from "../icons/arrow-left-icon";
import { Button } from "../ui/button";
---

<a href="/#projects">
  <Button variant="ghost" className="mb-8 gap-2 group">
    <ArrowLeftIcon
      className="h-4 w-4 transition-transform group-hover:-translate-x-1"
    /> Back to all projects
  </Button>
</a>
