---
import { Button } from "../ui/button";
---

<a href="mailto::pablogrius@gmail.com" target="_blank" rel="noopener noreferrer"
  ><Button
    className="bg-blue-600 hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800"
  >
    Contact Me
  </Button></a
>
