---
import DownloadIcon from "../icons/download-icon";
import { Button } from "../ui/button";
---

<a
  href="/Pablo_Garcia_Rius_resume.pdf"
  target="_blank"
  rel="noopener noreferrer"
  ><Button
    className="gap-2 ml-auto sm:ml-0 bg-blue-600 hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800"
  >
    Download my CV <DownloadIcon className="h-4 w-4" />
  </Button></a
>
