---
import DownloadIcon from "../icons/download-icon";
import { Button } from "../ui/button";

const { size } = Astro.props;
---

<a
  href="/Pablo_Garcia_Rius_resume.pdf"
  target="_blank"
  rel="noopener noreferrer"
  ><Button
    className={`gap-2 ml-auto sm:ml-0 bg-blue-600 hover:bg-blue-700 dark:text-white ${size === "lg" && "p-6"}`}
  >
    Download my CV <DownloadIcon className="size-5" />
  </Button></a
>
