---
import DownloadIcon from "../icons/download-icon";
import { Button } from "../ui/button";
---

<a
  href="/Pablo_Garcia_Rius_resume.pdf"
  target="_blank"
  rel="noopener noreferrer"
  ><Button
    className="gap-2 text-lg bg-blue-600 hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800 py-6 px-6"
  >
    Download my CV <DownloadIcon className="size-5" />
  </Button></a
>
