---
import GithubIcon from "../icons/github-icon";
import { Button } from "../ui/button";
---

<a
  href="https://github.com/PabloRius"
  target="_blank"
  rel="noopener noreferrer"
>
  <Button
    variant="outline"
    size="icon"
    className="rounded-full h-13 w-13"
    aria-label="GitHub"
  >
    <GithubIcon className="size-6" />
  </Button></a
>
