---
import InstagramIcon from "../icons/instagram-icon";
import { Button } from "../ui/button";
---

<a
  href="https://instagram.com/pgriuss"
  target="_blank"
  rel="noopener noreferrer"
>
  <Button
    variant="outline"
    size="icon"
    className="rounded-full h-13 w-13"
    aria-label="Instagram"
  >
    <InstagramIcon className="size-6" /></Button
  >
</a>
