---
import LinkedinIcon from "../icons/linkedin-icon";
import { Button } from "../ui/button";
---

<a
  href="https://www.linkedin.com/in/pablo-rius/"
  target="_blank"
  rel="noopener noreferrer"
>
  <Button
    variant="outline"
    size="icon"
    className="rounded-full h-10 w-10"
    aria-label="LinkedIn"
  >
    <LinkedinIcon className="h-5 w-5" /></Button
  >
</a>
