---
import ArrowRightIcon from "../icons/arrow-right-icon";
import { Button } from "../ui/button";
---

<a href="/projects">
  <Button variant="outline" className="gap-2 rounded-full px-6">
    View All Projects <ArrowRightIcon className="h-4 w-4" />
  </Button>
</a>
