---
import EducationExperience from "@/components/education/timeline";
import { getCollection } from "astro:content";

const education = (await getCollection("education"))
  .sort((a, b) => a.data.id - b.data.id)
  .map((xp) => xp.data);
---

<section id="experience" class="px-6 py-8 md:py-12">
  <EducationExperience client:load education={education} />
</section>
