---
import { getCollection } from "astro:content";

import JSON from "../icons/JSON.astro";
import Vite from "../icons/Vite.astro";
import React from "../icons/React.astro";
import IAstro from "../icons/IAstro.astro";

const projects = await getCollection("projects");
const projectsSlice = projects.slice(0, 5);

const ICONS: Record<string, any> = {
  JSON,
  Vite,
  React,
  Astro: IAstro,
};
---

<section>
  <h2>Some of my Projects</h2>
  <ul class="Projects">
    {
      projectsSlice.map(({ data }) => {
        const { title, shortDescription, stack } = data;
        return (
          <li>
            <article>
              <header>
                <a href="">
                  <h3>{title}</h3>
                </a>
                <p>{shortDescription}</p>
              </header>
              <footer>
                {stack.map((name) => {
                  const Icon = ICONS[name];

                  return Icon ? (
                    <span>
                      <Icon size={14} />
                      {name}
                    </span>
                  ) : (
                    <span>{name}</span>
                  );
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
  <a href="">{"See other projects ->"}</a>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 1rem;
  }
  ul > li {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 0 10px 16px rgba(0, 0, 0, 0.01);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article a {
    color: #111;
  }
  article a:hover {
    text-decoration: underline;
  }
  article p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }
  footer span {
    display: flex;
    gap: 0.2rem;
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    align-items: center;
    justify-content: center;
  }
  section > a {
    margin: 30px 0 0 0;
    color: #111;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
