---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section>
  <h2>Some of my Projects</h2>
  <ul class="Projects">
    {
      projects.map(({ data }) => {
        const { title, shortDescription, stack } = data;
        return (
          <li>
            <article>
              <header>
                <a href="">
                  <h3>{title}</h3>
                </a>
                <p>{shortDescription}</p>
              </header>
              <footer>
                {stack.map((name) => {
                  return <span>{name}</span>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  ul > li {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 0 10px 16px rgba(0, 0, 0, 0.01);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article a {
    color: #111;
  }
  article a:hover {
    text-decoration: underline;
  }
  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }
  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
