---
import { techStack } from "@/lib/data";
---

<section
  class="py-12 border-y border-slate-200 dark:border-slate-800 bg-slate-50 dark:bg-slate-900/50"
>
  <div class="px-6">
    <h2
      class="text-center text-sm font-medium uppercase tracking-wider text-muted-foreground mb-8"
    >
      Tech Stack
    </h2>
    <div class="flex flex-wrap justify-center gap-x-8 gap-y-4">
      {
        techStack.map((tech, index) => (
          <div class="flex items-center gap-2 font-medium">
            {tech.name}
            <tech.icon className="dark:fill-white fill-black w-6 h-6" />
          </div>
        ))
      }
    </div>
  </div>
</section>
