---
import VoluteeringExperience from "@/components/volunteering/timeline";
import { getCollection } from "astro:content";

const experiences = (await getCollection("volunteering"))
  .sort((a, b) => a.data.id - b.data.id)
  .map((xp) => xp.data);
---

<section id="experience" class="px-6 py-8 md:py-12">
  <VoluteeringExperience client:load experiences={experiences} />
</section>
