---
import LatBar from "@/components/LatBar.astro";
import Hero from "@/components/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pablo García Rius - Home">
  <LatBar /><main><Hero /></main>
</Layout>

<style>
  main {
    position: relative;
    margin-left: 100px;

    flex: 1;

    overflow-y: auto;
  }

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 70px;
  }
</style>
