---
import CTASection from "@/components/sections/cta-section.astro";
import Experience from "@/components/sections/experience.astro";
import HeroSection from "@/components/sections/hero-section.astro";
import ProjectsSection from "@/components/sections/projects-section.astro";
import SkillsSection from "@/components/sections/skills-section.astro";
import TechStackSection from "@/components/sections/tech-stack-section.astro";
import Volunteering from "@/components/sections/voluteering.astro";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pablo García Rius - Home">
  <main class="flex min-h-screen flex-col">
    <HeroSection />
    <TechStackSection />
    <ProjectsSection />
    <SkillsSection />
    <Experience />
    <Volunteering />
    <CTASection />
  </main></Layout
>
