@use "./custom/default_view.scss";
@use "./animations/animations.scss";
@import "./variables.scss";


*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Oswald", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a{
  text-decoration: none;
  color: $black-dark;
  &:active{
    color: $black-dark;
  }
}

h1, h2{
  font-family: "Caveat", "cursive", "Georgia";
  text-transform: capitalize;
}

.null, .hidden{
  display: none;
}