$breakpoints:(
    xs:0,
    sm:567px,
    md:768px,
    lg:992px,
    xl:1200px
);

@function breakpoint($name){
    @if map-has-key($breakpoints, $name){
        @return map-get($map: $breakpoints, $key: $name);
    }@else{
        @warn "Breakpoint #{$name} doesn't exist.";
        @return null;
    }
}

@mixin media($name){
    @if $name == "xs"{
        @media (max-width: #{breakpoint("sm") - 1}) {
            @content;
        }
    }@else if $name == "sm"{
        @media ((min-width: #{breakpoint("sm")}) and (max-width: #{breakpoint("md") - 1})) {
            @content;
        }
    }@else if $name == "md"{
        @media ((min-width: #{breakpoint("md")}) and (max-width: #{breakpoint("lg") - 1})) {
            @content;
        }
    }@else if $name == "lg"{
        @media ((min-width: #{breakpoint("lg")}) and (max-width: #{breakpoint("xl") - 1})) {
            @content;
        }
    }@else if $name == "xl"{
        @media (min-width: #{breakpoint("xl")} ) {
            @content;
        }
    }@else{
        @warn "Breakpoint #{$name} doesn't exist.";
        @content;
    }
}

@mixin XScrollBar {
    overflow-y: hidden;

    scrollbar-width: none;
    -webkit-scrollbar-width: none;
}
