
$black:#202020;
$black-light:#3D3D3D;
$black-dark:#141414;

$grey:#333533;
$grey-light:#464946;
$grey-dark:#1E1F1E;

$white: #ededed;
$white-light: #f9f9f9;
$white-dark: #e6e5e5;

$silver:#D6D6D6;
$silver-light:#EBEBEB;
$silver-dark:#C2C2C2;

$navy:#1B1B37;
$navy-light:#282852;
$navy-dark:#0D0D1B;

$background:0;
$basing:200;
$overlay:300;
$ceiling:400;

$sidebar-xl:110px;
$sidebar-lg:115px;
$sidebar-md:115px;
$sidebar-sm:115px;
$sidebar-xs:115px;

$project-xl: 350px;
$project-lg: 330px;
$project-md: 300px;
$project-sm: 300px;
$project-xs: 300px;