@import "../../styles/scss/animations/animations.scss";
@import "../../styles/scss/variables.scss";
@import "../../styles/scss/mixins.scss";

.Project, .Card:not(.hidden){
    background-color: #ffffff;
    border-radius: 20px;
    border: #e2e6ea solid 1px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    opacity: 1;
    z-index: $basing;
    box-shadow: 0 3px 15px 0 $black-light ;
    transition: all 0.5s ease-in-out;
    
    /* Responsive */
    @include media("xs"){
        width: calc($project-xs - 30px);
        height: 120px;   
        padding: 15px;
    }
    @include media("sm"){
        width: calc($project-sm - 30px);
        height: 120px;   
        padding: 15px;
    }
    @include media("md"){
        width: calc($project-md - 30px);
        height: 120px;   
        padding: 17px;
    }
    @include media("lg"){
        width: calc($project-lg - 30px);
        height: 120px;   
        padding: 17px;
    }
    @include media("xl"){
        width: calc($project-xl - 30px);
        height: 120px;   
        padding: 17px;
    }
    
    .ProjectTitle{
        height: 20%;
        max-height: 20%;
        @include XScrollBar;

        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        >h3{
            font-size: 18px;
            color: #0970e0;
            @include underline-effect(#0970e0);
            cursor: pointer;
            overflow-x: hidden;
            white-space: nowrap;
        }
    }
    p{
        font-size: 14px;
    }
    >.Subtitle{
        height: calc(60% - 10px);
        overflow-y: auto;
    }
    >.Language{
        height: 20%;
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: center;
    }
}


.Card:not(.hidden){
    position: absolute;
    top: 50%;

    &.center{
        left: 50%;
        transform: translate3D(-50%, -50%, 0);
        z-index: $basing;
    }
    &.left{
        /* Responsive */
        @include media("xs"){
            left: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: left;
            z-index: calc($basing - 3);
        }
        @include media("sm"){
            left: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: left;
            z-index: calc($basing - 3);
        }
        @include media("md"){
            left: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: left;
            z-index: calc($basing - 3);
        }
        @include media("lg"){
            left: 2%;
            transform: translate3d(0, -50%, 0) scale(0.5);
            transform-origin: left;
            z-index: calc($basing - 2);
        }
        @include media("xl"){
            left: 18%;
            transform: translate3D(-50%, -50%, 0) scale(0.80);
            z-index: calc($basing - 1);
        }
    }
    &.next-left{
        /* Responsive */
        @include media("xs"){
            display: none;
        }
        @include media("sm"){
            display: none;
        }
        @include media("md"){
            display: none;
        }
        @include media("lg"){
            left: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: left;
            z-index: calc($basing - 3);
        }
        @include media("xl"){
            left: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: left;
            z-index: calc($basing - 3);
        }
    }
    &.right{
        /* Responsive */
        @include media("xs"){
            right: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: right;
            z-index: calc($basing - 3);
        }
        @include media("sm"){
            right: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: right;
            z-index: calc($basing - 3);
        }
        @include media("md"){
            right: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: right;
            z-index: calc($basing - 3);
        }
        @include media("lg"){
            right: 2%;
            transform: translate3d(0, -50%, 0) scale(0.5);
            transform-origin: right;
            z-index: calc($basing - 2);
        }
        @include media("xl"){
            right: 18%;
            transform: translate3D(50%, -50%, 0) scale(0.80);
            z-index: calc($basing - 1);
        }
    }
    &.next-right{
        right: 0;
        transform: scale(0);
        z-index: calc($basing - 2);
        /* Responsive */
        @include media("xs"){
            display: none;
        }
        @include media("sm"){
            display: none;
        }
        @include media("md"){
            display: none;
        }
        @include media("lg"){
            right: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: right;
            z-index: calc($basing - 3);
        }
        @include media("xl"){
            right: 0;
            transform: translate3d(0, -50%, 0) scale(0);
            transform-origin: right;
            z-index: calc($basing - 3);
        }
    }
}
